.vscode/**
.idea/**
.DS_Store

.venv/
venv/
env/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

dataset/**
checkpoints/**
wandb/**
unsloth_compiled_cache/**
outputs/**
predictions/**
tokenizer/**
temp/**
logs/**
__pycache__/**
.pytest_cache/**
*.egg-info/**

*.db
*.parquet
*.pyc
*.log
*.pt
*.pth
*.bin
*.safetensors
.env
.env.*